<!doctype html>
<html>
  <head>
    <script src="jquery-3.6.0.min.js"></script>
  </head>
  <body>
    Search: <input type="text" id="search_form_input"></input>
    <div id="place_for_names"></div>

    <script>
      $("#search_form_input").keyup(function() {
	  var text = $(this).val();
	  $.ajax({
	      url: "/resultlist",
	      type: "get",
	      data: {jsdata: text},
	      success: function(response) {
		  $("#place_for_names").html(response);
	      },
	      error: function(xhr) {
		  console.log(xhr);
	      }
	  });
      });
    </script>
  </body>
</html>
